.box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  margin-left: 150px;
  .bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
  }
  .loader {
    height: 85vh;
  }
}
