@import "@/styles/variables.scss";

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  .poster {
    width: 200px;
    height: 300px;
    border-radius: 12px;
  }
  .item {
    display: flex;
    flex-direction: column;
    color: var(--color-main);
    transition: $transition-default;
    width: 200px;
    &:hover {
      opacity: 0.5;
    }
  }
}
