@import "@/styles/variables.scss";

@mixin svgBox {
  display: flex;
  align-items: center;
  gap: 15px;
  transition: $transition-default;
  &:hover {
    color: $color-hover;
  }
}

@mixin border {
  background-color: $color-backgroundInfo;
  border: 1px solid $color-border;
  border-radius: 12px;
  padding: 20px;
}
