@import "@/styles/variables.scss";

@mixin svgBox {
  display: flex;
  align-items: center;
  gap: 15px;
  transition: $transition-default;
  svg {
    transition: $transition-default;
  }
}

@mixin border {
  background-color: var(--color-bg-info);
  border: 1px solid var(--color-border);
  border-radius: 12px;
  padding: 15px;
  transition: $transition-default;
}

@mixin buttonPrimary {
  padding: 15px;
  background-color: var(--color-primary);
  border-radius: 12px;
  color: var(--color-white);
  transition: $transition-default;
  &:hover {
    background-color: var(--color-primary);
    filter: brightness(0.8);
  }
}

@mixin buttonDefault {
  color: var(--color-accent);
  transition: $transition-default;
  &:hover {
    color: var(--color-hover);
  }
}

@mixin linkPrimary {
  padding: 15px;
  background-color: var(--color-primary);
  border-radius: 12px;
  color: var(--color-white);
  transition: $transition-default;
  &:hover {
    background-color: var(--color-primary);
    filter: brightness(0.8);
  }
}

@mixin linkDefault {
  color: var(--color-accent);
  transition: $transition-default;
  &:hover {
    color: var(--color-hover);
  }
}

@mixin widthFull {
  width: 100%;
}
