@import "@/styles/variables.scss";

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-bg-body);
}
::-webkit-scrollbar-thumb {
  background: $color-primary;
  transition: 0.3s;
  border-radius: 4px;
  &:hover {
    background: darken($color-primary, $amount: 15);
  }
}

html {
  scrollbar-color: $color-primary var(--color-bg-body);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
