// colors
$color-main: #fff;
$color-accent: #abb2bf;
$color-secondary: #ffffff8f;
$color-primary: #f50;
$color-background: #000;

// variables
$fontSize-low: 13px;
$fontSize-default: 16px;
$fontSize-light: 20px;
$fontSize-medium: 24px;
$fontSize-large: 30px;
$fontSize-x-large: 50px;

$fontWeight-regular: 400;
$fontWeight-medium: 500;
$fontWeight-semibold: 600;

$lineHeight-low: 1;
$lineHeight-default: 1.5;

$transition-default: 300ms;
