@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.form {
  display: flex;
  width: fit-content;
  position: relative;
  .search {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    @include border;
    &:focus-within {
      border: 1px solid var(--color-focus);
    }
  }
  .submit {
    position: absolute;
    padding: 15px;
    right: 0;
    border-radius: 0px 12px 12px 0px;
    border-left: 1px solid var(--color-border);
    transition: $transition-default;
    color: var(--color-accent);
    &:hover,
    &:focus-within {
      svg {
        color: var(--color-main);
      }
    }
    &:focus-within {
      background-color: var(--color-focus);
    }
  }
}
