@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.box {
  @include border;
  height: fit-content;
  .title {
    color: $color-accent;
    margin-bottom: 15px;
  }
  .text {
    overflow-x: auto;
    color: $color-main;
  }
}
