@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.box {
  @include border;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: fit-content;
  .title {
    color: var(--color-accent);
  }
  .text {
    overflow-x: auto;
    color: var(--color-main);
    transition: $transition-default;
  }
}
