@import "@/styles/variables.scss";

.box {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .countryList {
    display: flex;
  }
  .description {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 15px;
  }
  .logo {
    max-width: 400px;
    max-height: 150px;
  }
  .poster {
    max-width: 400px;
    max-height: 500px;
  }
  .imdb {
    max-height: 25px;
  }
  .buttonBox {
    display: flex;
    gap: 10px;
    .button {
      padding: 15px;
      background-color: $color-primary;
      border-radius: 15px;
      color: var(--color-main);
      transition: $transition-default;
      &:hover {
        background-color: lighten($color: $color-primary, $amount: 7);
      }
    }
  }
}
