.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .item {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .dots {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
  }
}
