@import "@/styles/variables.scss";

.wrapper {
  .box {
    margin-left: 150px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .info {
      display: flex;
      justify-content: space-between;
      .column {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 70%;
      }
    }
  }
  .backdrop {
    border-radius: 12px;
  }
  .title {
    text-align: center;
    font-size: $fontSize-light;
    margin-top: 15px;
  }
}
